<div class='product__card'>
  <img />
  <div class='product__name'>{{name}}</div>
  <div class='product__description'>{{description}}</div>
  <div class='product__id'>ID: {{id}}</div>
  <div class='product__row'>
    <div class='product__price'>{{price}}$</div>
    <button class='product__edit'><a
        href='/product-edit?id={{id}}'
        class='prproduct__ed'
      >Редагувати</a></button>
  </div>
</div>