<div class='row g-2'>

  <div class='col-4'>
    <div class='card'>

      <div class='card-body'>
        <h5 class='card-title'>{{name}}
        </h5>
        <p>{{description}}</p>
        <input type='{{id}}' placeholder='{{id}}' />

        <h5>{{price}}</h5>
        <button class='form__button btn-primary'>Зберегти
          оновлення</button>
      </div>
    </div>
  </div>

</div>